@model DVDRental.Operational.UI.Models.FilmAddedModel

<div class="alert alert-success">
    <p>
        <b>添加影片成功</b>
        影片 <i>@Model.Title</i> 添加成功。
    </p>
</div>

<p>  @Html.ActionLink("是否继续添加影片?", "Index", "AddFilm")</p>