@using DVDRental.Catalogue.Catalogue
@model IEnumerable<Film>

@{
    ViewBag.Title = "title";
}

<h2>Title</h2>
@Html.ActionLink("Add Film", "Index", "AddFilm")
<hr />

<h2>Films</h2>
@foreach (Film film in Model) {
    <h3>@film.Title</h3>

            @Html.ActionLink("Stock Check", "ViewStockFor", "Stock", new { filmId = film.Id }, new { })
            <hr />
} 