@model DVDRental.Operational.UI.Models.StockAddedModel


<div class="alert alert-success">
    <p>
        <b>添加库存</b>
        Dvd的条形码是： <i>@Model.Barcode</i>.
    </p>
</div>

<p>  @Html.ActionLink("继续添加?", "ViewStockFor", "Stock", new { filmId = Model.FilmId }, new { })   </p>

